<section class="account login">
    <div class="row">
        <div class="account__form">
            <div class="innerWrap">
                <div class="title">
                    <h1>Login</h1>
                    <p>Sign In by entering the details below</p>
                </div>
                <form action="" class="form">
                    <div class="form__group">
                        <label for="UserID">UserID</label>
                        <input type="text" id="UserID" name="UserID" placeholder="UserID" class="info-icon">
                        <div class="invelid-error">UserIDReq</div>
                    </div>
                    <div class="form__group">
                        <label for="Password">Password</label>
                        <input type="password" id="Password" name="Password" placeholder="Password" class="info-icon">
                        <div class="invelid-error">PasswordReq</div>
                    </div>
                    <div class="form__btn">
                        <button type="submit" class="btn btn--blue" disabled>
                            <i class="icofont icofont-login"></i>
                            Login
                        </button>
                        <button type="button" class="numpad-btn btn btn--blue">
                            <i class="icofont icofont-ui-lock"></i>
                            Numpad
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="account__logo-part">
            <div class="innerWrap">
                <div class="logo">
                    <img src="../../../../assets/images/logo.png" alt="">
                </div>
                <div class="company-detail">
                    <div class="detail">
                        <div>
                            <span>LicensedTo :</span>
                            <span>ABC House</span>
                        </div>
                        <div>
                            <span>PartnerName :</span>
                            <span>ABC House</span>
                        </div>
                        <div>
                            <span>ProductName :</span>
                            <span>ABC House</span>
                        </div>
                        <div>
                            <span>Website :</span>
                            <a href="https://www.demourl.com">https://www.demourl.com</a>
                        </div>
                    </div>
                    <a href="javascript:;" class="btn btn--rounded btn--white-border" disabled>Register</a>
                </div>
            </div>
        </div>
    </div>
</section>