<section class="account login">
    <div class="row">
        <div class="account__form">
            <div class="innerWrap">
                <div class="title">
                    <h1>Login</h1>
                    <p>Sign In by entering the details below</p>
                </div>
                <form action="" class="form">
                    <div class="form__group">
                        <label for="UserID">UserID</label>
                        <input type="text" id="UserID" name="UserID" placeholder="UserID" class="info-icon">
                        <div class="invelid-error">UserIDReq</div>
                    </div>
                    <div class="form__group">
                        <label for="Password">Password</label>
                        <input type="password" id="Password" name="Password" placeholder="Password" class="info-icon">
                        <div class="invelid-error">PasswordReq</div>
                    </div>
                    <div class="form__btn">
                        <button type="submit" class="btn btn--blue" disabled>
                            <i class="icofont icofont-login"></i>
                            Login
                        </button>
                        <div class="numpad-block">
                            <button type="button" class="numpad-btn btn btn--blue js-numpade-btn">
                                <i class="icofont icofont-ui-lock"></i>
                                Numpad
                            </button>
                            <div class="numpad">
                                <div class="arrow"></div>
                                <h3 class="numpad__header">Numpad</h3>
                                <div class="numpad__body">
                                    <div class="numpad-box">
                                        <div class="row">
                                            <div class="col numpad-num numpad-one">1</div>
                                            <div class="col numpad-num numpad-two">2</div>
                                            <div class="col numpad-num numpad-three">3</div>
                                        </div>
                                        <div class="row">
                                            <div class="col numpad-four numpad-num">4</div>
                                            <div class="col numpad-five numpad-num">5</div>
                                            <div class="col numpad-num numpad-six">6</div>
                                        </div>
                                        <div class="row">
                                            <div class="col numpad-num numpad-seven">7</div>
                                            <div class="col numpad-eight numpad-num">8</div>
                                            <div class="col numpad-nine numpad-num">9</div>
                                        </div>
                                        <div class="row">
                                            <div class="col numpad-num numpad-zero">0</div>
                                        </div>
                                        <div class="row">
                                            <div class="col numpad-num order-dtl-col">Clear</div>
                                            <div class="col numpad-num order-dtl-col">Next</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="account__logo-part">
            <div class="innerWrap">
                <div class="logo">
                    <img src="../../../../assets/images/logo.png" alt="">
                </div>
                <div class="company-detail">
                    <div class="detail">
                        <div>
                            <span>LicensedTo :</span>
                            <span>ABC House</span>
                        </div>
                        <div>
                            <span>PartnerName :</span>
                            <span>ABC House</span>
                        </div>
                        <div>
                            <span>ProductName :</span>
                            <span>ABC House</span>
                        </div>
                        <div>
                            <span>Website :</span>
                            <a href="https://www.demourl.com">https://www.demourl.com</a>
                        </div>
                    </div>
                    <a href="javascript:;" class="btn btn--rounded btn--white" disabled>Register</a>
                </div>
            </div>
        </div>
    </div>
</section>